name: Terraform Destroy Azure Resources

on:

  workflow_run:
    branches:
      - main
    workflows: ["Terraform Azure WebApp CI/CD"]
    types:
      - completed

jobs:

  jobs:
  terraform:
    name: Terraform Destroy
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.head_branch == 'main' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      - name: Terraform Init
        run: terraform init

      - name: Terraform Destroy
        run: terraform destroy -auto-approve